<div class="m-2">
    <div class="modal-header">
        <div class="row flex-fill">
            <div class="modal-title col-12">
                <div class="d-flex">
                    <h2>List of accounting books of the group</h2>
                    <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
                        (click)="bsModalRef.hide()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 my-2" *ngFor="let id of bookIds">
                <button class="btn btn-secondary" (click)="booksIdHidden[id] = !booksIdHidden[id]"
                    [attr.aria-expanded]="!booksIdHidden[id]" attr.aria-controls="{{id}}">
                    {{id}}
                    <i class="bi bi-caret-down-fill" *ngIf="booksIdHidden[id]"></i>
                    <i class="bi bi-caret-up-fill" *ngIf="!booksIdHidden[id]"></i>
                </button>
                <div id="{{id}}" class="row ps-5" [collapse]="booksIdHidden[id]" [isAnimated]="true">
                    <div class="col-12 my-2 border-bottom border-dark p-2" *ngFor="let book of getBooksWithId(id)">
                        <div class="d-flex align-items-center">
                            <div class="d-flex me-2">
                                <h5>{{id}}.{{book.bookOrderNumberId}}</h5>
                                <h5 class="ms-2 fw-bold">{{book.name}}</h5>
                            </div>
                            <div>
                                <div class="badge bg-secondary" *ngIf="book.locked">Locked</div>
                                <div class="badge bg-success" *ngIf="!book.locked">Unlocked</div>
                            </div>
                            <button class="btn btn-primary ms-auto"
                                [routerLink]="['/accountingBooks', book.bookId, book.bookOrderNumberId]" (click)="bsModalRef.hide()">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex modal-footer">
        <button class="btn btn-success ms-auto" (click)="openAddAccountingBookModal()">Add new</button>
    </div>
</div>