<div *ngIf="inventoryBook">
    <div class="row">
        <!-- Inventory book head -->
        <div class="col-12">
            <div class="d-flex align-items-center">
                <!-- Inventory book name -->
                <div class="row">
                    <div class="col-12">
                        <h3>{{inventoryBook.name}}</h3>
                        <!-- Delete button -->
                        <div class="btn-group">
                            <button class="btn btn-danger" (click)="deleteInventoryBookClick()">Delete inventory book <i
                                    class="bi bi-trash"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Group link -->
                <div class="row p-1 ms-auto">
                    <div class="col-12 text-center">
                        <h5>Group: {{inventoryBook.relatedGroup.name}}</h5>
                        <hr />
                        <button class="btn btn-primary w-100"
                            [routerLink]="['/groups', inventoryBook.relatedGroup.id]">Details</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Records -->
        <div class="mt-3">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="btn-group">
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="row bg-dark text-light rounded py-3">
                        <div class="col-12 d-flex">
                            <h4>Records</h4>
                            <div class="btn-group ms-auto">
                                <button class="btn btn-success" (click)="openInventoryBookRecordAddModal()">Add new item <i class="bi bi-journal-plus"></i></button>
                                <button class="btn btn-primary" [disabled]="!availableItems" (click)="openInventoryBookRecordTransferModal()">Transfer item <i class="bi bi-journal-arrow-up"></i></button>
                                <button class="btn btn-danger" [disabled]="!availableItems" (click)="openLiquidateItemModal()">Liquidate item <i class="bi bi-journal-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- getting data from api-->
            <div class="d-flex justify-content-center">
                <h4 *ngIf="records && records.length <= 0">No records</h4>
                <div *ngIf="records === undefined" class="spinner-border" role="status"></div>
            </div>
            <div *ngIf="records && records.length > 0">
                <table class="table table-striped table-hover mt-3">
                    <thead class="text-center">
                        <tr>
                            <!-- General -->
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Document</th>
                            <th scope="col">Item</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of records">
                            <td>{{records.indexOf(record) + 1}}</td>
                            <td>{{record.date.toLocaleDateString('en-US')}}</td>
                            <td>{{record.document.name}}</td>
                            <td>
                                <div class="d-flex">
                                    <button class="flex-fill btn btn-outline-secondary" (click)="showItemHistory(record.item)">
                                        {{record.item.name}}
                                        <hr />
                                        {{record.item.symbol}}
                                    </button>
                                </div>
                            </td>
                            <td>{{record.source.name}}</td>
                            <td *ngIf="record.income" class="text-success">Income <i
                                    class="bi bi-journal-arrow-down"></i></td>
                            <td *ngIf="!record.income" class="text-danger">Outcome <i
                                    class="bi bi-journal-arrow-up"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Items -->
        <div class="mt-3">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="btn-group">
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="row bg-dark text-light rounded py-3">
                        <div class="col-12 d-flex">
                            <h4>Items</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- getting data from api-->
            <div class="d-flex justify-content-center">
                <h4 *ngIf="items && items.length <= 0">No items</h4>
                <div *ngIf="items === undefined" class="spinner-border" role="status"></div>
            </div>
            <div *ngIf="items && items.length > 0">
                <table class="table table-striped table-hover mt-3">
                    <thead class="text-center">
                        <tr>
                            <!-- General -->
                            <th scope="col">#</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td>{{items.indexOf(item) + 1}}</td>
                            <td>{{item.symbol}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.value.toFixed(2)}}</td>
                            <td class="d-flex justify-content-center">
                                <div class="btn-group">
                                    <button class="btn btn-primary" (click)="transferItem(item)" tooltip="Transfer this item"><i class="bi bi-journal-arrow-up"></i></button>
                                    <button class="btn btn-danger" (click)="liquidateItem(item)" tooltip="Liquidate this item"><i class="bi bi-journal-minus"></i></button>
                                    <button class="btn btn-primary" (click)="showItemHistory(item)" tooltip="Show item history"><i class="bi bi-journal-text"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>