<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class="d-flex flex-row">
    <p>{{model.firstNames}} {{model.lastName}}</p>
    @if (model.email) {
      <div class="d-flex flex-row">
        <p>&nbsp;(</p>
        <p class="text-secondary">{{model.email}}</p>
        <p>)</p>
      </div>
    }
  </div>
</ng-template>

<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add volunteers to the group</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="activeModal.close()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        Selected members:
        @for (volunteer of selectedVolunteerList; track volunteer) {
          <span
            class="badge bg-secondary me-1">{{volunteer.firstNames}} {{volunteer.lastName}}
            <a (click)="removeVolunteerFromSelectedList(volunteer.id)"><i class="bi bi-x"></i></a></span>
          }
        </div>
        <div class="col-12 mt-3">
          <div class="d-flex flex-column w-100">
            @if (noResults) {
              <div class="alert alert-danger">No results found</div>
            }
            <input autofocus placeholder="Volunteer" [(ngModel)]="selectedVolunteer"
              [ngbTypeahead]="search" [resultTemplate]="customItemTemplate"
              (selectItem)="onSelect($event)" (noResult)="noResultsEvent($event)"
              [minLength]="0" class="form-control">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-lg btn-danger w-100" (click)="cancelClick()">Cancel</button>
            </div>
            <div class="col-6">
              <button class="btn btn-lg btn-primary w-100" (click)="confirmClick()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>