<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add new inventory book</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="modalRef.hide()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="bookAddForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['name'].errors || error?.Email) }"
              placeholder="sample name" />
            <label for="name">Name*</label>

            @if (submitted && fields['name'].errors) {
              <div class="invalid-feedback">
                @if (fields['name'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Name) {
              <div class="invalid-feedback">
                <div>{{error.Name}}</div>
              </div>
            }
          </div>

          <!-- Related group -->
          <div class="form-floating mb-3" aria-label="RelatedGroupId">
            <select id="relatedGroupSelect" class="form-select" formControlName="relatedGroupId"
              [ngClass]="{ 'is-invalid': submitted && (fields['relatedGroupId'].errors || error?.RelatedGroupId) }">
              @for (group of groupList; track group) {
                <option [ngValue]="group.id">{{group.name}}
                </option>
              }
            </select>
            <label for="relatedGroupSelect">Related group*</label>

            @if (submitted && fields['relatedGroupId'].errors) {
              <div class="invalid-feedback">
                @if (fields['relatedGroupId'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.RelatedGroupId) {
              <div class="invalid-feedback">
                <div>{{error.RelatedGroupId}}</div>
              </div>
            }
          </div>

          <div class="row">
            <!-- Cancel button -->
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                (click)="modalRef.hide()">
                Cancel
              </button>
            </div>
            <!-- Submit button -->
            <div class="col-6">
              <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Create
              </button>
            </div>
          </div>
          <!-- Error box -->
          @if (errorMessage) {
            <div class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
          }
        </form>
      </div>
    </div>
  </div>
</div>