<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add new accounting book</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="bsModalRef.close()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="accountingBookAddForm" (ngSubmit)="onSubmit()">
          <!-- Book -->
          <div class="form-floating mb-3">
            <input type="number" formControlName="book" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['book'].errors || error?.Book) }"
              placeholder="sample book" />
            <label for="description">Book*</label>

            @if (submitted && fields['book'].errors) {
              <div class="invalid-feedback">
                @if (fields['book'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Book) {
              <div class="invalid-feedback">
                <div>{{error.Book}}</div>
              </div>
            }
          </div>
          <!-- Book order number -->
          <div class="form-floating mb-3">
            <input type="number" formControlName="bookOrderNumber" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['bookOrderNumber'].errors || error?.BookOrderNumber) }"
              placeholder="sample bookOrderNumber" />
            <label for="description">Book order number*</label>

            @if (submitted && fields['bookOrderNumber'].errors) {
              <div class="invalid-feedback">
                @if (fields['bookOrderNumber'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.BookOrderNumber) {
              <div class="invalid-feedback">
                <div>{{error.BookOrderNumber}}</div>
              </div>
            }
          </div>
          <!-- Name -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['name'].errors || error?.Name) }"
              placeholder="sample name" />
            <label for="name">Name*</label>

            @if (submitted && fields['name'].errors) {
              <div class="invalid-feedback">
                @if (fields['name'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Name) {
              <div class="invalid-feedback">
                <div>{{error.Name}}</div>
              </div>
            }
          </div>
          <!-- Locked -->
          <div class="form-check mb-3">
            <input type="checkbox" formControlName="locked" class="form-check-input" placeholder="sample locked" />
            <label for="locked" class="form-check-label">Locked</label>
          </div>
          <!-- Related group -->
          <div class="form-floating mb-3" aria-label="RelatedGroup">
            <select id="relatedGroup" class="form-select" formControlName="relatedGroup"
              [ngClass]="{ 'is-invalid': submitted && (fields['relatedGroup'].errors || error?.RelatedGroup) }">
              @for (group of groupList; track group) {
                <option [ngValue]="group.id">{{group.name}}</option>
              }
            </select>
            <label for="relatedGroup">Related group*</label>

            @if (submitted && fields['relatedGroup'].errors) {
              <div class="invalid-feedback">
                @if (fields['relatedGroup'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.RelatedGroup) {
              <div class="invalid-feedback">
                <div>{{error.RelatedGroup}}</div>
              </div>
            }
          </div>
          <div class="row">
            <!-- Cancel button -->
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                (click)="bsModalRef.close()">
                Cancel
              </button>
            </div>
            <!-- Submit button -->
            <div class="col-6">
              <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Create
              </button>
            </div>
          </div>
          <!-- Error box -->
          @if (errorMessage) {
            <div class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
          }
        </form>
      </div>
    </div>
  </div>
</div>