<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add new document</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="bsModalRef.close()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="documentAddForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['name'].errors || error?.Email) }"
              placeholder="sample name" />
            <label for="name">Name*</label>

            @if (submitted && fields['name'].errors) {
              <div class="invalid-feedback">
                @if (fields['name'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Name) {
              <div class="invalid-feedback">
                <div>{{error.Name}}</div>
              </div>
            }
          </div>
          <!-- Project -->
          <div class="form-floating mb-3" aria-label="Project">
            <select id="projectSelect" class="form-select" formControlName="project"
              [ngClass]="{ 'is-invalid': submitted && (fields['project'].errors || error?.Project) }">
              @for (project of projectList; track project) {
                <option [ngValue]="project.id">
                {{project.name}}</option>
              }
              <option [ngValue]="undefined">-</option>
            </select>
            <label for="projectSelect">Project</label>

            @if (submitted && error?.Project) {
              <div class="invalid-feedback">
                <div>{{error.Project}}</div>
              </div>
            }
          </div>
          <!-- Group -->
          <div class="form-floating mb-3" aria-label="Group">
            <select id="groupSelect" class="form-select" formControlName="group"
              [ngClass]="{ 'is-invalid': submitted && (fields['group'].errors || error?.Group) }"
              (change)="refreshProjectList()">
              @for (group of groupList; track group) {
                <option [ngValue]="group.id">
                {{group.name}}</option>
              }
            </select>
            <label for="groupSelect">Group*</label>

            @if (submitted && fields['group'].errors) {
              <div class="invalid-feedback">
                @if (fields['group'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Group) {
              <div class="invalid-feedback">
                <div>{{error.Group}}</div>
              </div>
            }
          </div>
          <!-- Accounting document checkbox -->
          <div class="form-check form-switch mb-3">
            <label for="accountingDocument" class="form-check-label">Create as accounting document</label>
            <input type="checkbox" formControlName="accountingDocument" class="form-check-input"
              placeholder="sample accountingDocument"/>
          </div>
          <div class="row">
            <!-- Cancel button -->
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                (click)="bsModalRef.close()">
                Cancel
              </button>
            </div>
            <!-- Submit button -->
            <div class="col-6">
              <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Create
              </button>
            </div>
          </div>
          <!-- Error box -->
          @if (errorMessage) {
            <div class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
          }
        </form>
      </div>
    </div>
  </div>
</div>