<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add new financial outcome record</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="bsModalRef.hide()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="recordAddForm" (ngSubmit)="onSubmit()">
          <!-- Description -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['description'].errors || error?.Email) }"
              placeholder="sample description" />
              <label for="description">Description*</label>

              @if (submitted && fields['description'].errors) {
                <div class="invalid-feedback">
                  @if (fields['description'].errors['required']) {
                    <div>This field is required</div>
                  }
                </div>
              }
              @if (submitted && error?.Description) {
                <div class="invalid-feedback">
                  <div>{{error.Description}}</div>
                </div>
              }
            </div>
            <!-- Date -->
            <div class="form-floating mb-3">
              <input type="date" formControlName="date" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && (fields['date'].errors || error?.Email) }"
                placeholder="date" />
                <label for="date">Date*</label>

                @if (submitted && fields['date'].errors) {
                  <div class="invalid-feedback">
                    @if (fields['date'].errors['required']) {
                      <div>This field is required</div>
                    }
                  </div>
                }
                @if (submitted && error?.Date) {
                  <div class="invalid-feedback">
                    <div>{{error.Date}}</div>
                  </div>
                }
              </div>
              <div class="row">
                <div class="col-6">
                  <!-- Inventory -->
                  <div class="form-floating mb-3">
                    <input type="number" formControlName="inventory" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && (fields['inventory'].errors || error?.Inventory) }"
                      placeholder="inventory" />
                      <label for="inventory">Inventory</label>

                      @if (submitted && error?.Inventory) {
                        <div class="invalid-feedback">
                          <div>{{error.Inventory}}</div>
                        </div>
                      }
                    </div>
                  </div>
                  <div class="col-6">
                    <!-- Material -->
                    <div class="form-floating mb-3">
                      <input type="number" formControlName="material" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && (fields['material'].errors || error?.Material) }"
                        placeholder="material" />
                        <label for="material">Material</label>

                        @if (submitted && error?.Material) {
                          <div class="invalid-feedback">
                            <div>{{error.Material}}</div>
                          </div>
                        }
                      </div>
                    </div>
                    <div class="col-6">
                      <!-- Service -->
                      <div class="form-floating mb-3">
                        <input type="number" formControlName="service" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && (fields['service'].errors || error?.Service) }"
                          placeholder="service" />
                          <label for="service">Service</label>

                          @if (submitted && error?.Service) {
                            <div class="invalid-feedback">
                              <div>{{error.Service}}</div>
                            </div>
                          }
                        </div>
                      </div>
                      <div class="col-6">
                        <!-- Transport -->
                        <div class="form-floating mb-3">
                          <input type="number" formControlName="transport" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && (fields['transport'].errors || error?.Transport) }"
                            placeholder="transport" />
                            <label for="transport">Transport</label>

                            @if (submitted && error?.Transport) {
                              <div class="invalid-feedback">
                                <div>{{error.Transport}}</div>
                              </div>
                            }
                          </div>
                        </div>
                        <div class="col-6">
                          <!-- Insurance -->
                          <div class="form-floating mb-3">
                            <input type="number" formControlName="insurance" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && (fields['insurance'].errors || error?.Insurance) }"
                              placeholder="Insurance" />
                              <label for="insurance">Insurance</label>

                              @if (submitted && error?.Insurance) {
                                <div class="invalid-feedback">
                                  <div>{{error.Insurance}}</div>
                                </div>
                              }
                            </div>
                          </div>
                          <div class="col-6">
                            <!-- Accommodation -->
                            <div class="form-floating mb-3">
                              <input type="number" formControlName="accommodation" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && (fields['accommodation'].errors || error?.Accommodation) }"
                                placeholder="Accommodation" />
                                <label for="accommodation">Accommodation</label>

                                @if (submitted && error?.Accommodation) {
                                  <div class="invalid-feedback">
                                    <div>{{error.Accommodation}}</div>
                                  </div>
                                }
                              </div>
                            </div>
                            <div class="col-6">
                              <!-- Salary -->
                              <div class="form-floating mb-3">
                                <input type="number" formControlName="salary" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && (fields['salary'].errors || error?.Salary) }"
                                  placeholder="Salary" />
                                  <label for="salary">Salary</label>

                                  @if (submitted && error?.Salary) {
                                    <div class="invalid-feedback">
                                      <div>{{error.Salary}}</div>
                                    </div>
                                  }
                                </div>
                              </div>
                              <div class="col-6">
                                <!-- Food -->
                                <div class="form-floating mb-3">
                                  <input type="number" formControlName="food" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['food'].errors || error?.Food) }"
                                    placeholder="Food" />
                                    <label for="food">Food</label>

                                    @if (submitted && error?.Food) {
                                      <div class="invalid-feedback">
                                        <div>{{error.Food}}</div>
                                      </div>
                                    }
                                  </div>
                                </div>
                                <div class="col-6">
                                  <!-- Other -->
                                  <div class="form-floating mb-3">
                                    <input type="number" formControlName="other" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && (fields['other'].errors || error?.Other) }"
                                      placeholder="other" />
                                      <label for="other">Other</label>

                                      @if (submitted && error?.Other) {
                                        <div class="invalid-feedback">
                                          <div>{{error.Other}}</div>
                                        </div>
                                      }
                                    </div>
                                  </div>
                                </div>
                                <!-- Accounting book -->
                                <div class="row">
                                  <!-- BookIdentificator -->
                                  <div class="col-4">
                                    <div class="form-floating mb-3" aria-label="BookIdentificator">
                                      <select id="bookIdentificatorSelect" class="form-select" formControlName="bookIdentificator"
                                        [ngClass]="{ 'is-invalid': submitted && (fields['bookIdentificator'].errors || error?.BookId) }"
                                        (change)="onBookIdChange(fields['bookIdentificator'].value)">
                                        @for (bookIdentificator of distinctBookIdentificator; track bookIdentificator) {
                                          <option [ngValue]="bookIdentificator">
                                          {{bookIdentificator}}</option>
                                        }
                                      </select>
                                      <label for="bookIdentificatorSelect">Book id*</label>

                                      @if (submitted && fields['bookIdentificator'].errors) {
                                        <div class="invalid-feedback">
                                          @if (fields['bookIdentificator'].errors['required']) {
                                            <div>This field is required</div>
                                          }
                                        </div>
                                      }
                                      @if (submitted && error?.BookIdentificator) {
                                        <div class="invalid-feedback">
                                          <div>{{error.BookIdentificator}}</div>
                                        </div>
                                      }
                                    </div>
                                  </div>
                                  <!-- BookOrderNumber -->
                                  <div class="col-4">
                                    <div class="form-floating mb-3" aria-label="BookOrderNumber">
                                      <select id="bookOrderNumberSelect" class="form-select" formControlName="bookOrderNumber"
                                        [ngClass]="{ 'is-invalid': submitted && (fields['bookOrderNumber'].errors || error?.BookOrderNumber) }"
                                        (change)="onBookOrderNumberChange(fields['bookOrderNumber'].value)">
                                        @for (bookOrderNumber of distinctBookOrderNumber; track bookOrderNumber) {
                                          <option
                                            [ngValue]="bookOrderNumber">
                                          {{bookOrderNumber}}</option>
                                        }
                                      </select>
                                      <label for="bookOrderNumberSelect">Book order number*</label>

                                      @if (submitted && fields['bookOrderNumber'].errors) {
                                        <div class="invalid-feedback">
                                          @if (fields['bookOrderNumber'].errors['required']) {
                                            <div>This field is required
                                            </div>
                                          }
                                        </div>
                                      }
                                      @if (submitted && error?.BookOrderNumber) {
                                        <div class="invalid-feedback">
                                          <div>{{error.BookOrderNumber}}</div>
                                        </div>
                                      }
                                    </div>
                                  </div>
                                  <!-- Book name -->
                                  <div class="col-4">
                                    <div class="form-floating mb-3">
                                      <input type="text" class="form-control" placeholder="other"
                                        [value]="getCurrAccBookName()" disabled />
                                        <label for="other">Book name</label>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Related project -->
                                  <div class="form-floating mb-3" aria-label="RelatedProject">
                                    <select id="relatedProjectSelect" class="form-select" formControlName="relatedProject"
                                      [ngClass]="{ 'is-invalid': submitted && (fields['relatedProject'].errors || error?.RelatedProject) }">
                                      @for (relatedProject of projectList; track relatedProject) {
                                        <option [ngValue]="relatedProject.id">
                                        {{relatedProject.name}}</option>
                                      }
                                      <option [ngValue]="undefined">-</option>
                                    </select>
                                    <label for="projectSelect">Project</label>

                                    @if (submitted && error?.RelatedProject) {
                                      <div class="invalid-feedback">
                                        <div>{{error.RelatedProject}}</div>
                                      </div>
                                    }
                                  </div>
                                  <!-- Related document -->
                                  <div class="d-flex w-100 mb-3">
                                    <div class="form-floating me-2 flex-fill" aria-label="RelatedDocument">
                                      <select id="relatedDocumentSelect" class="form-select" formControlName="relatedDocument"
                                        [ngClass]="{ 'is-invalid': submitted && (fields['relatedDocument'].errors || error?.RelatedDocument) }"
                                        (change)="onRelatedDocumentChange()">
                                        @for (relatedDocument of documentList; track relatedDocument) {
                                          <option [ngValue]="relatedDocument.id">
                                          {{relatedDocument.name}}</option>
                                        }
                                      </select>
                                      <label for="relatedDocumentSelect">Document*</label>

                                      @if (submitted && fields['relatedDocument'].errors) {
                                        <div class="invalid-feedback">
                                          @if (fields['relatedDocument'].errors['required']) {
                                            <div>This field is required</div>
                                          }
                                        </div>
                                      }
                                      @if (submitted && error?.RelatedDocument) {
                                        <div class="invalid-feedback">
                                          <div>{{error.RelatedDocument}}</div>
                                        </div>
                                      }
                                    </div>
                                    <button class="btn btn-success ms-auto" (click)="openAccountingDocumentAddModal()">New</button>
                                  </div>
                                  <div class="row">
                                    <!-- Cancel button -->
                                    <div class="col-6">
                                      <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                                        (click)="bsModalRef.hide()">
                                        Cancel
                                      </button>
                                    </div>
                                    <!-- Submit button -->
                                    <div class="col-6">
                                      <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                                        @if (loading) {
                                          <span class="spinner-border spinner-border-sm mr-1"></span>
                                        }
                                        Create
                                      </button>
                                    </div>
                                  </div>
                                  <!-- Error box -->
                                  @if (errorMessage) {
                                    <div class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
                                  }
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>