<div class="m-2">
    <div class="modal-header">
        <div class="row flex-fill">
            <div class="modal-title col-12">
                <div class="d-flex">
                    <h2>Add new financial outcome record</h2>
                    <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
                        (click)="bsModalRef.hide()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="recordAddForm" (ngSubmit)="onSubmit()">
                    <!-- Description -->
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && (fields['description'].errors || error?.Email) }"
                            placeholder="sample description" />
                        <label for="description">Description*</label>

                        <div *ngIf="submitted && fields['description'].errors" class="invalid-feedback">
                            <div *ngIf="fields['description'].errors['required']">This field is required</div>
                        </div>
                        <div *ngIf="submitted && error?.Description" class="invalid-feedback">
                            <div>{{error.Description}}</div>
                        </div>
                    </div>
                    <!-- Date -->
                    <div class="form-floating mb-3">
                        <input type="date" formControlName="date" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && (fields['date'].errors || error?.Email) }"
                            placeholder="date" />
                        <label for="date">Date*</label>

                        <div *ngIf="submitted && fields['date'].errors" class="invalid-feedback">
                            <div *ngIf="fields['date'].errors['required']">This field is required</div>
                        </div>
                        <div *ngIf="submitted && error?.Date" class="invalid-feedback">
                            <div>{{error.Date}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <!-- Inventory -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="inventory" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['inventory'].errors || error?.Inventory) }"
                                    placeholder="inventory" />
                                <label for="inventory">Inventory</label>

                                <div *ngIf="submitted && error?.Inventory" class="invalid-feedback">
                                    <div>{{error.Inventory}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Material -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="material" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['material'].errors || error?.Material) }"
                                    placeholder="material" />
                                <label for="material">Material</label>

                                <div *ngIf="submitted && error?.Material" class="invalid-feedback">
                                    <div>{{error.Material}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Service -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="service" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['service'].errors || error?.Service) }"
                                    placeholder="service" />
                                <label for="service">Service</label>

                                <div *ngIf="submitted && error?.Service" class="invalid-feedback">
                                    <div>{{error.Service}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Transport -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="transport" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['transport'].errors || error?.Transport) }"
                                    placeholder="transport" />
                                <label for="transport">Transport</label>

                                <div *ngIf="submitted && error?.Transport" class="invalid-feedback">
                                    <div>{{error.Transport}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Insurance -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="insurance" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['insurance'].errors || error?.Insurance) }"
                                    placeholder="Insurance" />
                                <label for="insurance">Insurance</label>

                                <div *ngIf="submitted && error?.Insurance" class="invalid-feedback">
                                    <div>{{error.Insurance}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Accommodation -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="accommodation" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['accommodation'].errors || error?.Accommodation) }"
                                    placeholder="Accommodation" />
                                <label for="accommodation">Accommodation</label>

                                <div *ngIf="submitted && error?.Accommodation" class="invalid-feedback">
                                    <div>{{error.Accommodation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Salary -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="salary" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['salary'].errors || error?.Salary) }"
                                    placeholder="Salary" />
                                <label for="salary">Salary</label>

                                <div *ngIf="submitted && error?.Salary" class="invalid-feedback">
                                    <div>{{error.Salary}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Food -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="food" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['food'].errors || error?.Food) }"
                                    placeholder="Food" />
                                <label for="food">Food</label>

                                <div *ngIf="submitted && error?.Food" class="invalid-feedback">
                                    <div>{{error.Food}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Other -->
                            <div class="form-floating mb-3">
                                <input type="number" formControlName="other" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && (fields['other'].errors || error?.Other) }"
                                    placeholder="other" />
                                <label for="other">Other</label>

                                <div *ngIf="submitted && error?.Other" class="invalid-feedback">
                                    <div>{{error.Other}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related project -->
                    <div class="form-floating mb-3" aria-label="RelatedProject">
                        <select id="relatedProjectSelect" class="form-select" formControlName="relatedProject"
                            [ngClass]="{ 'is-invalid': submitted && (fields['relatedProject'].errors || error?.RelatedProject) }">
                            <option *ngFor="let relatedProject of projectList" [ngValue]="relatedProject.id">
                                {{relatedProject.name}}</option>
                            <option [ngValue]="undefined">-</option>
                        </select>
                        <label for="projectSelect">Project</label>

                        <div *ngIf="submitted && error?.RelatedProject" class="invalid-feedback">
                            <div>{{error.RelatedProject}}</div>
                        </div>
                    </div>
                    <!-- Related document -->
                    <div class="d-flex w-100 mb-3">
                        <div class="form-floating me-2 flex-fill" aria-label="RelatedDocument">
                            <select id="relatedDocumentSelect" class="form-select" formControlName="relatedDocument"
                                [ngClass]="{ 'is-invalid': submitted && (fields['relatedDocument'].errors || error?.RelatedDocument) }"
                                (change)="onRelatedDocumentChange()">
                                <option *ngFor="let relatedDocument of documentList" [ngValue]="relatedDocument.id">
                                    {{relatedDocument.name}}</option>
                            </select>
                            <label for="relatedDocumentSelect">Document*</label>

                            <div *ngIf="submitted && fields['relatedDocument'].errors" class="invalid-feedback">
                                <div *ngIf="fields['relatedDocument'].errors['required']">This field is required</div>
                            </div>
                            <div *ngIf="submitted && error?.RelatedDocument" class="invalid-feedback">
                                <div>{{error.RelatedDocument}}</div>
                            </div>
                        </div>
                        <button class="btn btn-success ms-auto" (click)="openAccountingDocumentAddModal()">New</button>
                    </div>
                    <div class="row">
                        <!-- Cancel button -->
                        <div class="col-6">
                            <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                                (click)="bsModalRef.hide()">
                                Cancel
                            </button>
                        </div>
                        <!-- Submit button -->
                        <div class="col-6">
                            <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Create
                            </button>
                        </div>
                    </div>
                    <!-- Error box -->
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
                </form>
            </div>
        </div>
    </div>
</div>