<div class="m-2">
  <div class="modal-header">
    <div class="row flex-fill">
      <div class="modal-title col-12">
        <div class="d-flex">
          <h2>Add new group</h2>
          <button type="button" class="btn btn-outline-secondary close pull-right ms-auto" aria-label="Close"
            (click)="bsModalRef.hide()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="groupAddForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['name'].errors || error?.Name) }"
              placeholder="sample name" />
            <label for="name">Name*</label>

            @if (submitted && fields['name'].errors) {
              <div class="invalid-feedback">
                @if (fields['name'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Name) {
              <div class="invalid-feedback">
                <div>{{error.Name}}</div>
              </div>
            }
          </div>
          <!-- Description -->
          <div class="form-floating mb-3">
            <input type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && (fields['description'].errors || error?.Description) }"
              placeholder="sample description" />
            <label for="description">Description*</label>

            @if (submitted && fields['description'].errors) {
              <div class="invalid-feedback">
                @if (fields['description'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Description) {
              <div class="invalid-feedback">
                <div>{{error.Description}}</div>
              </div>
            }
          </div>
          <!-- Owner -->
          <div class="form-floating mb-3" aria-label="Owner">
            <select id="ownerSelect" class="form-select" formControlName="owner"
              [ngClass]="{ 'is-invalid': submitted && (fields['owner'].errors || error?.Owner) }">
              @for (owner of ownerList; track owner) {
                <option [ngValue]="owner.id">{{owner.firstNames}}
                {{owner.lastName}}</option>
              }
            </select>
            <label for="ownerSelect">Owner*</label>

            @if (submitted && fields['owner'].errors) {
              <div class="invalid-feedback">
                @if (fields['owner'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.Owner) {
              <div class="invalid-feedback">
                <div>{{error.Owner}}</div>
              </div>
            }
          </div>
          <!-- Parent group -->
          <div class="form-floating mb-3" aria-label="ParentGroup">
            <select id="parentGroupSelect" class="form-select" formControlName="parentGroup"
              [ngClass]="{ 'is-invalid': submitted && (fields['parentGroup'].errors || error?.ParentGroup) }">
              @for (group of parentGroupList; track group) {
                <option [ngValue]="group.id">{{group.name}}</option>
              }
            </select>
            <label for="parentGroupSelect">Parent group*</label>

            @if (submitted && fields['parentGroup'].errors) {
              <div class="invalid-feedback">
                @if (fields['parentGroup'].errors['required']) {
                  <div>This field is required</div>
                }
              </div>
            }
            @if (submitted && error?.ParentGroup) {
              <div class="invalid-feedback">
                <div>{{error.ParentGroup}}</div>
              </div>
            }
          </div>
          <div class="row">
            <!-- Cancel button -->
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-danger w-100" aria-label="Cancel"
                (click)="bsModalRef.hide()">
                Cancel
              </button>
            </div>
            <!-- Submit button -->
            <div class="col-6">
              <button [disabled]="loading" class="btn btn-lg btn-primary w-100" type="submit">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Create
              </button>
            </div>
          </div>
          <!-- Error box -->
          @if (errorMessage) {
            <div class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
          }
        </form>
      </div>
    </div>
  </div>
</div>